.navbar {
  @apply fixed z-50  left-0 right-0 px-10 xs:px-20  transition-all duration-200;
}
.navbar__content {
  @apply flex relative  items-center justify-between;
}

.menu {
  @apply hidden lg:inline-block m-auto justify-self-center;
}

.menu__content {
  @apply flex  relative child:mx-8 child:flex child:items-center child:justify-center;
}

.arrowIcon {
  @apply text-xs mx-1;
}
.menu__items {
  @apply cursor-pointer;
}
.menu__items span,
.menu__items > .arrowIcon {
  @apply text-white;
}
.menu__subroutes {
  @apply hidden child:grid child:grid-cols-1 grid-rows-1  absolute p-3 pt-4  top-full bg-[#021B00];
}
.menu__subroutes li {
  @apply p-1 text-sm my-2 hover:scale-105 transition-all duration-200 hover:text-gray-300  relative  hover:shadow-2xl;
}
.subRoutesIcon{
  @apply ms-2 
}
.menu__subroutes li:hover .subRoutesIcon{
  @apply  scale-125 transition-all duration-200 
}
.menu__items:hover .menu__subroutes {
  @apply flex;
}
.menu__items:hover .arrowIcon,
.navCollaps__item:hover .arrowIcon {
  @apply rotate-90 transition  duration-200;
}

.menu__items:hover::after {
  content: "";
  animation: menuItem 0.5s ease;
  /* @apply absolute top-full left-0 right-0 h-0.5 rounded-full bg-white; */
}

.menu__2Subroute_content {
  @apply hidden absolute bg-[#021B00] left-full top-0  min-w-72 ps-4 transition
}
.menu__2Subroute_content ul{
  @apply w-fit child:text-white
}

.menu__subroutes li:hover .menu__2Subroute_content{
 @apply block 
}








/* ----collaps ---------- */

.navbarCollaps{
  animation:menu-collaps ease 0.5s ;
  @apply absolute left-0 right-0 top-full mt-5 bg-white overflow-hidden;
}

.navbarCollaps__content{
  @apply child:py-1 border-t-2 child:cursor-pointer ps-2 border-t-orange-500 child:font-medium child:text-sm child:my-2;
}

.navbarCollaps__product{
  @apply hover:text-blue-800 hover:font-bold
}

.navbarCollaps__categoryContent{
  @apply hidden border border-black ps-5
}

.navbarCollaps__product:hover .navbarCollaps__categoryContent{
  @apply block
}

.navbarCollaps__subsetContent{
  
}






/* ___________________ */

@keyframes menu-collaps {
  0% {
    height: 0;
  }
  100% {
    height: 225px;
  }
}

@keyframes menuItem {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}
